<!--The content below is only a placeholder and can be replaced.
<div style="text-align:center">

  <h1>
    Welcome!
  </h1>



  <h2>{{coin}}</h2>

  <div>{{price}}</div>

  <div>
    <h1>{{diff}}</h1>
  </div>
  <div *ngFor="let bag of dataBag">
    <small>{{bag}}</small>
  </div>

</div>-->

<div class="container">
  <div class="row">
    <div class="col">
      <h1>
        Welcome!
      </h1>
    </div>
  </div>

  <hr>
  {{ethereumCoin|json}}
  <hr>
  {{bitcoinCoin|json}}
  <hr>

  <!--<div class="row">
    
    <div class="col">
      <h1>Coin: {{coin}}</h1>
      <h3>Current: {{price}} <br>Start:{{priceStart}}<br>End: {{priceEnd}}</h3>
    </div>
  </div>

  <div class="row">
      <div class="col">
          <h2>Percentage: {{percentageFlash}}</h2>
          <p>Difference: {{diff}}</p>
      </div>
    </div>

  <div class="row">
    <div class="col">
      <div *ngFor="let bag of dataBag">
        <small>{{bag}}</small>
      </div>
    </div>

  </div>-->

</div>